@import '~src/sass/variables';

:host {
  @include very-small-to-medium-screen {
    margin-bottom: $small-margin-between-bookshelves * 1px;
  }
  @include large-to-very-large-screen {
    margin-bottom: $large-margin-between-bookshelves * 1px;
  }
  display: block;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: $app-dark-green;
}
