@import '~src/sass/variables';

:host {
  margin-bottom: $margin-between-bookshelves * 1px;
  display: block;
}

.app-title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;

  color: #1F321C;
}
