<button mat-icon-button fxHide fxShow.lt-md (click)="openSidenav()" class="menu-icon">
  <mat-icon>menu</mat-icon>
</button>
<a routerLink="/" class="logo">
  <h1 class="title">{{title}}</h1>
</a>
<div fxHide fxShow.gt-sm class="menu">
  <ul fxLayout class="menu-items">
    <li>
      <span class="bookshelves-list-link" [matMenuTriggerFor]="bookshelvesListMenu">
        Lista półek
        <mat-icon>expand_more</mat-icon>
      </span>
      <mat-menu #bookshelvesListMenu="matMenu">
        <div class="bookshelves-list-menu" *ngIf="bookshelves$ | async as bookshelves">
          <button mat-menu-item
                  *ngFor="let bookshelf of bookshelves"
                  (click)="onBookshelfListMenuClick(bookshelf)">
            {{bookshelf.name}}
          </button>
        </div>
      </mat-menu>
    </li>
    <li>
      <a href="#"><span>O Biblioteczce</span></a>
    </li>
    <li>
      <a href="#"><span>Zaproponuj książkę</span></a>
    </li>
  </ul>
</div>
