// Keep the breakpoint values synchronized with /src/app/dashboard/books-carousel/books-carousel.component.ts.
$small-width-breakpoint: 500;
$medium-width-breakpoint: 800;
$large-width-breakpoint: 1100;
$very-large-width-breakpoint: 1400;

$small-margin-between-bookshelves: 60;
$large-margin-between-bookshelves: 90;

$app-yellow: #F9C013;
$app-dark-green: #1F321C;
