@import '~src/sass/variables';
@import '~src/sass/mixins';


:host {
  display: block;
  position: relative;
  @include very-small-to-medium-screen {
    margin-bottom: $small-margin-between-bookshelves * 1px;
  }
  @include large-to-very-large-screen {
    margin-bottom: $large-margin-between-bookshelves * 1px;
  }
}

.bookshelf-container {
  overflow: hidden;
  padding-bottom: $bookshelf-overflow-padding * 1px;
}

.bookshelf-content {
  padding: 20px 0;
  background-color: white;
  // Set line-height to zero to avoid whitespace under book miniatures.
  line-height: 0;
}

.bookshelf-name {
  display: inline-block;
  position: absolute;
  margin-left: 3%;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: $app-dark-green;
  @include large-to-very-large-screen {
    font-size: 24px;
    top: -45px;
    padding: 13px 20px;
  }
  @include very-small-to-medium-screen {
    font-size: 18px;
    top: -40px;
    padding: 10px 16px;
  }
}
