@import '~src/sass/variables';
@import '~src/sass/mixins';


:host {
  display: block;
  position: relative;
  @include large-to-very-large-screen {
    padding-top: 45px;
  }
  @include very-small-to-medium-screen {
    padding-top: 40px;
  }
}

.bookshelf-container {
  overflow: hidden;
  @include very-small-to-medium-screen {
    padding-bottom: ($small-margin-between-bookshelves * 1px);
  }
  @include large-to-very-large-screen {
    padding-bottom: ($large-margin-between-bookshelves * 1px);
  }
}

.bookshelf-content {
  padding: 20px 0;
  background-color: white;
  // Set line-height to zero to avoid whitespace under book miniatures.
  line-height: 0;
}

.bookshelf-name {
  display: inline-block;
  position: absolute;
  top: 0;
  margin-left: 3%;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: $app-dark-green;
  @include large-to-very-large-screen {
    font-size: 24px;
    padding: 13px 20px;
  }
  @include very-small-to-medium-screen {
    font-size: 18px;
    padding: 10px 16px;
  }
}
