@import '~src/sass/variables';

:host {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: $app-dark-green;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

a:hover, a:active {
  color: white;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
