@import '~src/sass/variables';
@import '~src/sass/mixins';

:host {
  min-height: 100vh;
}

mat-sidenav-container {
  background-color: $app-yellow;
  height: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  display: block;
  @include very-small-to-medium-screen {
    padding: ($small-margin-between-bookshelves * 1px) 0;
  }
  @include large-to-very-large-screen {
    padding: ($large-margin-between-bookshelves * 1px) 0;
  }
}
