<mat-sidenav-container (backdropClick)="closeSidenav()">
  <mat-sidenav mode="over" [opened]="showSidenav | async" disableClose>
    <mat-nav-list>
      <a routerLink="/" mat-list-item>Strona Główna</a>
      <a routerLink="/about" mat-list-item>O Biblioteczce</a>
      <a mat-list-item>Zaproponuj książkę</a>
    </mat-nav-list>
    <button mat-icon-button (click)="closeSidenav()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
