<div class="content" *ngIf="book$ | async as book; else loading">
  <h2 class="title">{{book.title}}</h2>
  <div class="text-info-and-cover">
    <div class="text-info">
      <mat-list>
        <h3 matLine class="author">Autor: <span class="mat-line-value">{{book.author}}</span></h3>
        <mat-divider></mat-divider>
        <ng-container *ngIf="book.description">
          <p matLine class="description">{{book.description}}</p>
          <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngIf="book.lubimyCzytacUrl">
          <h4 matLine class="lubimy-czytac-url">
            Więcej informacji: <a [href]="book.lubimyCzytacUrl" target="_blank">link</a></h4>
          <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngIf="book.addedBy">
          <h4 matLine class="added-by">Dodana przez: <span class="mat-line-value">{{book.addedBy}}</span></h4>
          <mat-divider></mat-divider>
        </ng-container>
        <h4 matLine class="bookshelves">Na półkach: <span class="mat-line-value">{{getBookshelfNames(book)}}</span></h4>
      </mat-list>
    </div>
    <img class="cover-img" *ngIf="book.coverImg; else noCoverImg" src="{{book.coverImg | coverImgFullUrl}}"
         alt="{{book.coverImg.name}}">
  </div>
</div>

<ng-template #noCoverImg>
  <img class="cover-img" src="/assets/no_book_cover.png" alt="Okładka zastępcza">
</ng-template>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
